.password-input {
    padding-right: 2.5em;
}

.show-password {
    font-size: 1.6rem;
    margin-top: 0.2em;
    position: absolute;
    color: var(--color-accent-dark);
    right: 0.5em;
}

.show-password:hover {
    cursor: pointer;
}