.form-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 2em;
}

.form-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-accent-light);
    padding: 2em;
    border-radius: 1em;
    box-shadow: 0 0 0.75em 0.07em rgba(0, 0, 0, 0.171);
    width: clamp(24em, 33vw, 60em);
}

.form-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    width: 100%;
}

.form-info {
    display: flex;
    align-items: flex-start;
}

.auth-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
    width: 80%;
}

.icon-title {
    display: flex;
    align-items: center;
    gap: 0.5em;
    font-size: 3rem;
}

.sub-title {
    font-size: 1.5rem;
    margin-bottom: 1em;
    text-align: center;
}

.auth-form input {
    font-size: 1.2rem;
    border: none;
    border-radius: 0.5em;
    width: clamp(16.7em, 29.2vw, 45em);
    padding: 0.5em 1em;
    margin-top: 0.3em;
}

.auth-form input:focus {
    outline: 0.2em solid var(--color-accent-dark);
}

.form-input {
    position: relative;
    display: flex;
    align-items: center;
}

.btn-submit {
    position: relative;
    margin-top: 0.75em;
    border: none;
    background-color: var(--color-neutral-light);
    padding: 1em 1em;
    border-radius: 0.5em;
    font-size: 1rem;
    color: var(--color-accent-dark);
    font-weight: bold;
}

.btn-submit:hover {
    cursor: pointer;
}

.btn-submit::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 0.5em;
    inset: 0;
    box-shadow: 0 0 1em 0.1em var(--color-accent-dark);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.btn-submit:hover::after {
    opacity: 1;
}