*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-neutral-light: hsl(0, 0%, 100%);
    --color-neutral-dark: hsl(0, 0%, 10%);
    --color-accent-dark: hsl(278, 65%, 30%);
    --color-accent-light: hsl(278, 65%, 50%);
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: var(--color-accent-dark);
    color: var(--color-neutral-light);
}

.container {
    position: relative;
}

.link {
    text-decoration: none;
}